MYSQL_DATABASE=fitness
MYSQL_USERNAME=root
MYSQL_PASSWORD=root
MYSQL_URL=jdbc:mysql://localhost:3307/fitness?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC

MONGODB_URI=mongodb://localhost:27017/fitness
ACTIVITY_MONGODB_DATABASE=fitness
AI_MONGODB_URI=mongodb://localhost:27017/fitnessrecommendation
AI_MONGODB_DATABASE=fitnessrecommendation

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest

EUREKA_SERVER_URL=http://localhost:8761/eureka/
KEYCLOAK_JWK_SET_URI=http://localhost:8181/realms/fitness-oauth2/protocol/openid-connect/certs

GEMINI_API_URL=https://generativelanguage.googleapis.com/v1beta/models/gemini-pro:generateContent?key=
GEMINI_API_KEY=replace-with-your-gemini-api-key
